@media screen and (max-width:1400px){
    #two span{
        display: none;
    }
    #three span{
        display: none;
    }
    #four span{
        display: none;
    }
}
@media screen and (max-width:1080px){
    #page{
        width: 100%;
        margin: 0;
    }
    #icon{
        justify-content: flex-start;
        overflow: hidden;
    }
    #imgs{
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: auto;
    }
    #imgs1{
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: auto;
    }
    .all{
        width: 45%;
        margin-top: 20px;
    }
    #text{
        margin-left: 3%;
    }
    #picture1{
        margin-top: 20px;
    }
    #gray{
        margin-top: 20px;
    }
    #face{
        flex-wrap: wrap;
        width: auto;
        margin-left: 20px;
    }
    #container-ft-ft{
        flex-wrap: wrap;
    }
    #container-ft-ft ul{
        flex-wrap: wrap;
        width: 30%;
    }
}
@media screen and (max-width:900px){
    #left{
        overflow: hidden;
    }
    #last{
        flex-wrap: wrap;
    }
    #lg-left{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:850px){
    #right{
        display: none;
    }
    #one{
        display: none;
    }
    #five{
        display: block;
        order: 1;
    }
    #two{
        order: 2;
    }
    #logo{
        margin: auto;
        order: 3;
    }
    #three{
        order: 4;
    }
    #four{
        order: 5;
    }
}
@media screen and (max-width:770px){
    #picture{
        flex-direction: column;
        height: auto;
        background: #e3dfdf;
    }
    #media{
        display: block;
        width: 100%;
    }
    #content{
        width: 90%;
        margin: 10px 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #content a:first-child{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #content a h2{
        font-size: 22px;
        margin-bottom: 10px;
    }
    #content a p{
        line-height: 1.2;
    }
    #icon{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }
    #icon div{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;

    }
    #icon div a{
        display: flex;
        width: 70%;
        height: 10px;
        font-size: 13px;
        text-align: center;
    }
    #icon div a img{
        width: 4%;
        height: 20px;
    }
    #icon div a p{
        padding: 0 15px;
    }
    #picture1{
        flex-direction: column;
        height: auto;
        background: #e3dfdf;
    }
    #media1{
        display: block;
        width: 100%;
    }
    #picture1 #content1{
        width: 90%;
        margin: 10px 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #picture1 #content1 a:first-child{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #picture1 #content1 a h2{
        font-size: 22px;
        margin-bottom: 10px;
    }
    #picture2{
        flex-direction: column;
        height: auto;
        background: #3a3838;
    }
    #media2{
        display: block;
        width: 100%;
    }
    #picture2 #content3{
        width: 90%;
        margin: 10px 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #picture2 #content3 a:first-child{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #picture2 #content3 a h2{
        font-size: 22px;
        margin-bottom: 10px;
    }
    #picture2 #content3 a p{
        line-height: 1.3;
    }
    #last{
        flex-wrap: wrap;
    }
    #lg-left ul{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:540px){
    header{
        flex-wrap: wrap;
        width: auto;
    }
    #red{
        flex-wrap: wrap;
        height: auto;
    }
    #imgs{
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: auto;
    }
    #imgs1{
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: auto;
    }
    .all{
        width: 90%;
    }
    #text{
        margin-left: 5%;
    }
    #gray{
        flex-wrap: wrap;
        height: auto;
    }
  
    #container-ft-ft{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
    }
    #container-ft-ft ul{
        width: 90%;
    }
    #icon{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }
    #icon div{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;

    }
    #icon div a{
        display: flex;
        width: 75%;
        height: 2px;
        font-size: 13px;
        text-align: center;
    }
    #icon div a img{
        width: 3%;
        height: 10px;
    }
    #icon div a p{
        padding: 0 12px;
    }
  
    #last{
        display: block;
    }
    #last #lg-left{
        display: block;
    }
    #last #lg-left ul{
      padding: 0;
      margin: 0;
    }
    #last #lg-left ul li a{
        /* padding: 0; */
    }
    #lg a{
        padding: 0;
    }

}